<h5>{{title}}</h5>
<p></p>
<form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
  <div class="form-group label-align">
    <label for="email" class="input-label">
      Escriba su email
    </label>
    <input type="text" id="email" name="email" placeholder="Email" class="form-control" formControlName="email">
    <div *ngIf="hasErrors('email')" class="form-error">
      <p *ngIf="getError('email', 'required')">
        El email es obligatorio
      </p>
    </div>
  </div>
  <div class="form-group label-align">
    <label for="password" class="input-label label-align">
      Escriba su password
    </label>
    <input type="password" id="password" name="password" placeholder="Password" class="form-control"
           formControlName="password">
    <div *ngIf="hasErrors('password')" class="form-error">
      <p *ngIf="getError('password', 'required')">
        El password es obligatorio
      </p>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-success">Login</button>
  </div>
</form>

