<div *ngIf="item">
  <table border="1">
    <tbody>
      <tr>
        <td>
          <p>Name: {{item.name}}</p>
          <p>Description: {{item.description}}</p>
          <p>Price: {{item.price}}</p>
          <button (click)="handleDelete()">Delete</button>
        </td>
        <td colspan="3"><img width="200" src="{{item.image}}" alt="hola"></td>
      </tr>
    </tbody>
  </table>
  <form [formGroup]="detailForm" (ngSubmit)="onSubmit()" novalidate>
    <label for="name">Nombre</label>
    <input type="text" class="form-horizontal" id="name" formControlName="name" autocomplete="off">
    <label for="description">Descripción</label>
    <input type="text" class="form-horizontal" id="description" formControlName="description" autocomplete="off">
    <label for="price">Precio</label>
    <input type="text" class="form-horizontal" id="price" formControlName="price" autocomplete="off">
    <button type="submit">Modificar</button>
  </form>
</div>